@import 'styles/variables';

.task-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.task-container__navbar{
  display: flex;
  background-image:url('/assets/images/background.jpg') ;
  background-size: cover;
  height: 180px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 40px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

}

.task-container__navbar-back{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}


.task-container__navbar-back button{
  background-color: $secondary-color;
  padding: 10px 15px;
  border-radius: 30px;
  border: solid 1px $secondary-color;
  color: white;
  font-family: "Quicksand", serif;
  margin-right: 15px;
}

.task-container__navbar-back button:hover{
  background-color: $terciary-color;

}

.task-container__navbar-title{
  width: 100%;
  color:white;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-around;
  height: 90px;
  box-sizing: border-box;
  margin-left: 30px;
}

.task-container__navbar-title h1{
  margin-bottom: 0px;
  font-family: "Autour One", serif;
}

.task-container__navbar-title span{
  font-size: 12px;
  margin-left: 80px;
}

.task-list-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list-container__accordion{
  width: 90%;
}

.accordion__title{
  font-family: "Quicksand", serif; 
  font-weight: 600;
}

.accordion__description{
  font-family: "Quicksand", serif; 
  font-weight: 200;
  color: $black-color;
  font-size: 12px;
}

.separator {
  margin:  10px;
  border: solid 1px #ccc;
  width: 100%;
}
.accordion_title--color{
  background-color: #EEF2FC;
  margin-bottom: 20px;
  border: solid 1px $secondary-color;
}

.task-container .task-list-container .task-list-container__accordion mat-expansion-panel{
  box-shadow: none;
  border-radius: 20px;
}

.accordion__buttons{
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  column-gap: 30px;

}

.accordion__buttons button{
  width: 40px;
  background-color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}


.accordion__buttons button:hover{
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.accordion__buttons button mat-icon{
  font-size: 20px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion_container{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: column nowrap;
}

.accordion_container--items{
  font-family: "Quicksand", serif; 
  color: $black-color
}
.accordion_container--items p b{
  color:$primary-color ; 
}

.spacer {
  flex: 1 1 auto;
}