<div class="task-container">
  <div class="task-container__navbar">
    <div class="task-container__navbar-back">
      <button (click)="goLogin()">Ir a login</button>
    </div>
    <div class="task-container__navbar-title">
      <h1>To do List</h1>
      <span>{{userEmail}}</span>
    </div>
  </div>


  <div class="task-list-container">
    <div class="task-list-container__accordion">
      <mat-accordion >
        <mat-expansion-panel *ngFor="let task of taskList" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header class="accordion_title--color">
            <mat-panel-title class="accordion__title ">{{ task.title }}</mat-panel-title>


          </mat-expansion-panel-header>
          <div class="accordion_container">
            <div class="accordion_container--items">
              <p><b>Descripción:</b> {{ task.description }}</p>
              <p><b>Estado: </b>{{ task.state }}</p>
              <p><b>Creado el: </b>{{ task.createdDate }}</p>
            </div>
            
            <div class="accordion__buttons">
              <button>
                <mat-icon>edit</mat-icon>
              </button>
              <button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</div>
