<div class="modal-backdrop" *ngIf="isVisible$ | async" (click)="closeModal()"></div>
<div class="modal" *ngIf="isVisible$ | async">
  <div class="modal-header">
    <h3>{{title}}</h3>
    <button class="modal-header__btn-close" (click)="closeModal()">x</button>
  </div>

  <form class="modal__form"  [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título:</label>
      <div class="form-group__item">
        <input id="title" formControlName="title" />
      </div>

    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <div class="form-group__item">
        <input id="description" formControlName="description"/>
      </div>
    </div>
  
    <button class="btn-primary" type="submit" [disabled]="taskForm.invalid">Confirmar</button>
  </form>

</div>