@import 'styles/variables';

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  width: 70%;
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.modal-header__btn-close{
  background-color: $secondary-color;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.modal-header__btn-close:hover{
  background-color: $terciary-color;

}

.modal__form{
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  width: 100%;
}

.form-group{
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  width: 100%;
  margin-top:15px ;
}

.form-group__item{
  border-bottom: solid 1px $gray-color;
  display: flex;
  align-items:center;
  width: 100%;
  height: 40px;
}

.form-group__item span{
  color: $gray-color;
  font-weight: 300;
}

.form-group label{
  width: 100%;
}

.form-group input{
  width: 100%;
  padding-inline: unset;
  padding-block: unset;
  border: none;
  height: 35px;
  margin-left: 10px;

}

.form-group input:focus{
  outline: none;
}

.form-group input::placeholder{
  color: $gray-color;
}

.btn-primary{
  background: $primary-color;

  padding: 10px;
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border: solid 1px white;
  border-radius: 30px;
  font-family: "Quicksand", serif;
  margin-top: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: $terciary-color;
}



@media (min-width: 1024px) {
  .modal{
      width: 40%;
  }
}

@media (min-width: 1440px) {
  .modal{
      width: 35%;
      padding: 2rem;
  }
}

@media (min-width: 1920px) {
  .modal{
    width: 30%;
    padding: 3rem;
  }
}